<div>
    <nav class="navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                Tabs <i class="fa fa-bars ispace"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav nav-tabnav" ng-transclude>

            </ul>
            <i id="togglemenu" class="fa fa-bars fa-2x hidden-sm hidden-xs pull-right" ng-click="toggleme()"></i>
        </div>
    </nav>
</div>