<div>
   <header id="fixfooter">
      <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid" style="background-color:#3a3a40;color:whitesmoke;">
            <div class="navbar-header"> 
               <a class="navbar-footer" href="index.html">
                  <span>PortalWorks SSCEexams</span>
               </a>
            </div>
            <div id="" class="navbar-collapse collapse">
               <ul class="navbar-right footer-none">
                  <li class="navbar-footer"><a href="#/aboutus" title="About Us"><span>&nbsp;</span> About Us</a>&nbsp;</li>
                  <li class="navbar-footer"><a href="#/privacy" title="Privacy and Cookies"><span>&nbsp;</span> Privacy and Cookies</a>&nbsp;</li>
                  <li class="navbar-footer"><a href="#/legal" title="Legal"><span>&nbsp;</span> Legal</a>&nbsp;</li>
                  <li class="navbar-footer"><a href="#/trademarks" title="Trademarks"><span>&nbsp;</span> Trademarks</a>&nbsp;</li>
                  <li class="navbar-footer"><a href="#/portalworkssolutions" title="© 2015 Portalworks Solutions"><span>&nbsp;</span> © 2015 Portalworks Solutions</a>&nbsp;</li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
</div>