<div>
   <header id="" role="banner">
      <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid" style="background-color:#222;color:whitesmoke;">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle mg-left-10" data-toggle="collapse" data-target="#righttray">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span> 
               </button>
               <a class="navbar-brand" href="index.html" style="font-size:larger;color:white;">
                  <span style="color:#999999;">PortalWorks</span> SSCEexams <em><i>Beta</i></em>
               </a>
            </div>
            <div id="righttray" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right" style="font-size:larger;margin-top:5px;">
                  <li class=""><a href="#/dashboard" title="Test Center"><span style="color: #5F9EEE;">&nbsp;<i class="fa fa-home fa-1" aria-hidden="true"></i></span> Main Board</a></li>
                  <li class=""><a href="#/testcenter" title="Test Center"><span style="color: #76C187;">&nbsp;<i class="fa fa-gg fa-1" aria-hidden="true"></i></span> Test Center</a></li>
                  <li class=""><a href="#/analytics" title="Analytics"><span style="color: #DEB63B;">&nbsp;<i class="fa fa-area-chart fa-1" aria-hidden="true"></i></span> Analytics</a></li>
                  <li class=""><a href="#/404" title="Synthetics"><span style="color: #9E7DA6;">&nbsp;<i class="fa fa-bar-chart fa-1" aria-hidden="true"></i></span> Reports</a></li>
                  <li class=""><a href="#/contactus" title="Contact Us"><span style="color: #3aa3e3!important;">&nbsp;<i class="fa fa-archive fa-lg" aria-hidden="true"></i></span> Contact Us</a></li>
                  <li class=""><a href="#/pricing" title="Pricing"><span style="color: #DE797C;">&nbsp;<i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i></span> Pricing</a></li>
                  <li class=""><a href="#/signup" title="Sign Up"><span>&nbsp;<i class="fa fa-user-plus fa-1" aria-hidden="true"></i></span> Sign Up</a></li>
                  <li id="logintab" class=""><a href="#/login" title="Log In"><span>&nbsp;<i class="fa fa-sign-in fa-1" aria-hidden="true"></i></span> Log In </a></li>
                  <li id="logouttab" class="hide"><a href="#/logout" title="Log Out"><span style="color: #bb1287;">&nbsp;<i class="fa fa-sign-in fa-1" aria-hidden="true"></i></span> Log Out</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
</div>