<div>
	<!-- <tr> -->
		<td>{{attn.subj}} {{attn.year}}</td>
	    <td class="hidden-md">
	       <div class="mini-notice-{{attn.colr}}"><i class="fa fa-check"></i> {{attn.pct}}%</div>
	    </td>
	    <td class="timestamp"> &nbsp; &nbsp;{{attn.examday}} {{attn.examtime}}{{attn.daysection}}</td>
	    <td>
	       <div class="dropdown pull-right">
	          <i class="fa fa-caret-down dropdown-toggle" type="button" data-toggle="dropdown"></i>
	          <ul class="dropdown-menu">
	             <li><a data-toggle="collapse">View Result</a></li>
	             <li><a data-toggle="collapse">Retake Exam</a></li>
	             <li><a data-toggle="collapse">Continue Exam</a></li>
	          </ul>
	       </div>
	    </td>
	<!-- </tr> -->
</div>	