<div>
	<div class="panel-default hl">
		<i class="fa fa-times pull-right pd-top-10 pd-right-10" ng-click="closemee(indx)"></i>				
	    <div class="history-list-heading"><i class="fa fa-list"></i> &nbsp;{{rowt.rowtitle}}</div>
	    <div class="hlb text-center boxline" style="background-color:#D4E6F1;">	
	      <div class="sm-notice-info mg-top-10" ng-click="callTot()">
	        <span ng-if="indx != 3">{{rowt.vall}} </span><span ng-if="indx == 3">{{rowt.vall}}%</span>
	      </div>
	    </div>
	</div>
</div>	