<div ng-controller="PricingController">
	<mock-header></mock-header>

	<div growl></div>
	<div class="bodyContainer f2f6f6">
		<div class="bodyContent" id="ns_content">
			<div class="col-md-1"></div>
			<div class="col-sm-10 tblgridbg margintopbottom30px">
				<div class="col-md-12">
					<div style="font-size:xx-large;text-align:center;" class="mg-top-20 mg-bottom-20 clrgrey"><em>Priced for everyone</em></div>
					<div>
						<p style="font-size:x-large;color:#333;text-align:center;" class="mg-bottom-20"><em>
							SSCEexams is free to use for students preparing for the SSCE Examinations, Standard and Premium versions allow students, parents, and school instructors work together to achieve a single goal.</em>
						</p>
						<div class="mg-bottom-20">
							<span>
								<a href="/signup" class="btn btn-block btn-default setmiddle" style="width:250px;">Join SSCEexams for free</a>
							</span>
						</div>
					</div>
				</div>
				<div class="margintopbottom30px">
			      <div id="examSubjListView" class="paddingtop20">			      	
			      	<div class="" id="examsubj">
			      		<ul class="flist">
			      			<li class="w250" ng-repeat="subj in examsubjects">
					  		  <h2 class="is_link clrgrey"><em>{{subj.name}}</em></h2>
					  		  <hr>
					  		  <h2><strong>{{subj.price}} </strong></h2><h3><strong> / per user / month</strong></h3>
					  		  <div style="word-wrap:break-word;text-align:justify;font-size:12px;">
					  		  	<p>{{subj.notes}}.</p>
					  		  	<p><i class="{{subj.icn}}"></i> {{subj.side}}.</p>
					  		  </div>
					  		  <hr>
						      <div class="mg-top-20">
						      	<a href="/join?source={{subj.href}}" class="btn btn-block btn-default {{subj.btncolor}}">{{subj.btnval}}</a>
						      </div>
					  		</li>
			      		</ul>
					</div>
				  </div>
			    </div>
		    </div>
		    <div class="col-md-1"></div>	    
		</div>
	</div>
	
	<mock-footer></mock-footer>

	<script>
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	</script>
</div>
