<div ng-controller="ProfileController">
	<mock-header></mock-header>

	<div class="bodyContainer f2f6f6 mg-top-20">
		<div class="col-md-1 mg-bottom-20"></div>
		<div class="col-sm-10 mg-bottom-20">
			<div class="col-sm-12 tblgridbg mg-left-10 mg-right-10 mg-bottom-20" style="box-shadow: 0 3px 10px rgba(0,0,0,.2);border: 1px solid #e8e8e8;background-color: #fff;border-radius: 6px;">
				<div id="profileForm1">
			  		<div class="col-md-12">
			  			<div class="form-group col-md-4 f14">
							<h4><strong>Username: {{username}}</strong></h4>
							<h5 class="media-heading"><strong>{{city_state}}</strong></h5>
							<div class="mg-bottom-10" style="text-decoration:underline;"><em>member since:</em> June, 2017</div>
						</div>
						<div class="form-group col-md-4 f14">
						    <p>
								<strong><em>Name: </em></strong>{{fname_lname}}
							</p>
							<p>
								<strong><em>Street Address: </em></strong>{{street_address}}
							</p>
							<p>
								<strong><em>City, State: </em></strong>{{city_state}}
							</p>
						</div>
						<div class="form-group col-md-4 f14">
						    <p>
								<strong><em>Country: </em></strong>{{country}}
							</p>
							<p>
								<strong><em>Tel: </em></strong><span class="cell-number">{{user_tel}}</span>
							</p>
							<p>
								<strong><em>Email: </em></strong><span class="cell-number">{{user_email}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 tblgridbg mg-left-10 mg-right-10 mg-bottom-20" style="box-shadow: 0 3px 10px rgba(0,0,0,.2);border: 1px solid #e8e8e8;background-color: #fff;border-radius: 6px;">
				<div id="profileForm2">
					<div class="col-md-12">
						<h3 style="text-align:left!important;color:#555459;font-weight:600;" class="mg-bottom-10">About You</h3>
			  			<div class="form-group col-md-6 f14">
						  <label for="schusername">First Name:</label>
						  <input type="text" class="form-control" id="schuname" placeholder="Enter First Name" ng-model="tfname">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="schpwd">Last Name:</label>
						  <input type="text" class="form-control" id="schpwd" placeholder="Enter Last Name" ng-model="tlname">
						</div>
						<div class="form-group col-md-12 f14">
						  <label for="schoolname">Street Address:</label>
					      <textarea class="form-control mg-bottom-10" rows="6" id="schadd" placeholder="Enter Street Address" ng-model="tstraddy"></textarea>
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactperson">City:</label>
						  <input type="text" class="form-control" id="schctperson" placeholder="Enter City" ng-model="tcity">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="email">State:</label>
						  <input type="email" class="form-control" id="schemail" placeholder="Enter State" ng-model="tstate">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactphone">Country:</label>
						  <input type="text" class="form-control" id="schctphone" placeholder="Enter Country" ng-model="tcountry">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="email">Phone #:</label>
						  <input type="email" class="form-control" id="schemail" placeholder="Enter Phone #" ng-model="tphone">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactphone">Email Address:</label>
						  <input type="text" class="form-control" id="schctphone" placeholder="Enter Email Address" ng-model="temail">
						</div>
			    		<div class="form-group col-md-12 f14">
						  <label for="schoolname">About You:</label>
					      <textarea class="form-control mg-bottom-10" rows="6" id="schadd" placeholder="Tell us Something about Yourself..." ng-model="tnote"></textarea>
						</div>
						<div class="form-group col-md-6 f14">
						    <div class="form-group mg-right-10 mg-top-20" style="margin-bottom:20px;">
								<a class="grnbtn" ng-click="editUserProfile()" style="font-size:14px;" ng-click="editUserProfile()">Edit Your Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 tblgridbg mg-left-10 mg-right-10 mg-bottom-20" style="box-shadow: 0 3px 10px rgba(0,0,0,.2);border: 1px solid #e8e8e8;background-color: #fff;border-radius: 6px;">
				<div id="profileForm3">
					<div class="col-md-12">
						<h3 style="text-align:left!important;color:#555459;font-weight:600;" class="mg-bottom-10">About Your School</h3>
						<div class="form-group col-md-12 f14">
						  <label for="schoolname">School Name & Address:</label>
					      <textarea class="form-control mg-bottom-10" rows="6" id="schadd" placeholder="Enter School Name & Address" ng-model="ytschname"></textarea>
						</div>
			  			<div class="form-group col-md-6 f14">
						  <label for="schusername">School City:</label>
						  <input type="text" class="form-control" id="schuname" placeholder="Enter School City" ng-model="ytcity">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="schpwd">School State:</label>
						  <input type="text" class="form-control" id="schpwd" placeholder="Enter School State" ng-model="ytstate">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactperson">Country:</label>
						  <input type="text" class="form-control" id="ytcountry" placeholder="Enter Country" ng-model="ytcountry">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="email">School Contact Person:</label>
						  <input type="email" class="form-control" id="tschcontct" placeholder="Enter School Contact person" ng-model="tschcontct">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactphone">Contact Person Phone:</label>
						  <input type="text" class="form-control" id="ytphone" placeholder="Enter Phone Number" ng-model="ytphone">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="email">School Phone #:</label>
						  <input type="email" class="form-control" id="ytschphone" placeholder="Enter School Phone #" ng-model="ytschphone">
						</div>
						<div class="form-group col-md-6 f14">
						  <label for="contactphone">School Email Address:</label>
						  <input type="text" class="form-control" id="ytemail" placeholder="Enter School Email Address" ng-model="ytemail">
						</div>
			    		<div class="form-group col-md-12 f14">
						  <label for="schoolname">School Details:</label>
					      <textarea class="form-control mg-bottom-10" rows="6" id="ynote" placeholder="Tell Us Something about Your School" ng-model="ynote"></textarea>
						</div>
						<div class="form-group col-md-6 f14">
						    <div class="form-group mg-right-10 mg-top-20" style="margin-bottom:20px;">
								<a class="grnbtn" style="font-size:14px;" ng-click="editUserSchoolProfile()">Edit School Details</a>
							</div>
						</div>
					</div>
		    	</div>
			</div>
		</div>
		<div class="col-md-1 mg-bottom-20"></div>
	</div>
	
	<mock-footer></mock-footer>

	<script>
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	</script>
</div>
