<div ng-controller="RegisterSchoolController">
	<mock-header></mock-header>

	<div growl></div>
	<div class="bodyContainer row bdyimg pd-left-20 pd-top-20">
		<div class="col-md-1 mg-bottom-20"></div>
		<div class="col-sm-10 tblgridbg mg-left-10 mg-right-10 mg-bottom-20" style="box-shadow: 0 3px 10px rgba(0,0,0,.2);border: 1px solid #e8e8e8;background-color: #fff;border-radius: 6px;">
			<!-- <h2>New School Registration</h2> -->
			<h1 class="mg-top-20 mg-bottom-20" style="text-align:center;vertical-align:middle;line-height:50px;font-size: 24px;">New School Registration</h1>
    		<div id="registerForm">
		  		<div class="col-md-12">
		  			<div class="form-group col-md-12">
					  <label for="schusername">School Name:</label>
					  <input type="text" class="form-control" id="schname" placeholder="Enter School Name">
					</div>
					<div class="form-group col-md-12">
					  <label for="schpwd">School Address:</label>
					  <textarea class="form-control" rows="3" id="schooladdy" placeholder="Enter School Address"></textarea>
					</div>
					<div class="form-group col-md-12 mg-top-10">
					  <label for="schooltype">Select School Type:&nbsp;&nbsp;</label>
					  <label class="checkbox-inline marginleft30px">
				        <input type="checkbox" value="">Pre-K
				      </label>
				      <label class="checkbox-inline marginleft30px">
				        <input type="checkbox" value="">Kindergarten
				      </label>
				      <label class="checkbox-inline marginleft30px">
				        <input type="checkbox" value="">Nursery &amp; Primary
				      </label>
				      <label class="checkbox-inline marginleft30px">
				        <input type="checkbox" value="">Secondary
				      </label>
				      <label class="checkbox-inline marginleft30px">
				        <input type="checkbox" value="">Tertiary
				      </label>
					</div>
		  			<div class="form-group col-md-6">
					  <label for="schusername">Choose School Username:</label>
					  <input type="text" class="form-control" id="schusername" placeholder="Enter username">
					</div>
					<div class="form-group col-md-6">
					  <label for="schpwd">Choose School Password:</label>
					  <input type="text" class="form-control" id="schpwd" placeholder="Enter password">
					</div>
					<div class="form-group col-md-6">
					  <label for="contactperson">Contact Person:</label>
					  <input type="text" class="form-control" id="contactperson" placeholder="Enter School Contact">
					</div>
					<div class="form-group col-md-6">
					  <label for="email">Contact Email Address:</label>
					  <input type="text" class="form-control" id="email" placeholder="Enter School Email">
					</div>
					<div class="form-group col-md-6">
					  <label for="contactphone">Contact Person Phone:</label>
					  <input type="text" class="form-control" id="contactphone" placeholder="Enter Phone Number">
					</div>
		    		<div class="form-group col-md-12">
					  <label for="schoolname">Additional Details:</label>
				      <textarea class="form-control" rows="6" id="adddetails" placeholder="Enter Additional Details about School"></textarea>
					</div>
					<div class="form-group col-md-6">
					  <label for="subscription">Subscription Type:</label>&nbsp;&nbsp;
					  <div class="radio-inline marginleft30px">
					      <label><input type="radio" name="optradio">Free</label>
					  </div>
					  <div class="radio-inline marginleft30px">
					      <label><input type="radio" name="optradio">Basic</label>
					  </div>
					  <div class="radio-inline disabled marginleft30px">
					      <label><input type="radio" name="optradio" disabled="">Premium</label>
					  </div>
					</div>
				</div>
	    	</div>
	    	<div class="divcenter mg-bottom-20 feature-list col-md-12" style="">
				<a class="grnbtn col-md-6 mg-bottom-10" ng-click="registernewschool()" style="width:60%;display:block;border:1px solid #ccc;font-size: 14px;text-decoration: none;max-width:600px;margin:auto;float:none;">
					<span class="btn"></span>&nbsp;Send for Review
				</a>
			</div>
		</div>
		<div class="col-md-1 mg-bottom-20"></div>
	</div>
	
	<mock-footer></mock-footer>

	<script>
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	</script>
</div>
