<div ng-controller="SignupController">
	<mock-header></mock-header>

	<div growl></div>
	<div class="bodyContainer row bdyimg">
	    <div class="col-sm-12 tblgridbg mg-right-10 pd-left-20">
    		<div id="loginForm" class="mg-left-20">
		    	<h2>SSCE Exams Login</h2>
		  		<p>Sign in below with a unique username and password.</p>
		  	</div>
		  	<div>
	    		<div class="form-group maxwidth80pct pd-left-20">
				  <label for="usr">Username:</label>
				  <input type="text" class="form-control" id="usr" placeholder="Pick a Username">
				</div>
				<div class="form-group maxwidth80pct pd-left-20">
				  <label for="usr">Email:</label>
				  <input type="email" class="form-control" id="email" placeholder="Your Email Address">
				</div>
				<div class="form-group maxwidth80pct pd-left-20">
				  <label for="pwd1">Password:</label>
				  <input type="password" class="form-control" id="pwd" placeholder="Create a Password">
				</div>
				<div class="form-group maxwidth80pct pd-left-20 mg-bottom-20">
				  <label for="pwd2">Confirm Password:</label>
				  <input type="password" class="form-control" id="pwd" placeholder="Repeat Password to Confirm">
				</div>
			</div>

			<div class="subheadertabs form-group mg-right-10 mg-left-15 mg-top-20">
				<a ng-click="registernewuser()">
					<span class="fa fa-user-plus fa-1 btn btn-success"></span> Sign Up for SSCEexams
				</a>
			</div>

			<div class="mg-left-20 mg-top-20 maxwidth80pct">
		  		<p>
		  			<strong>Want to try out SSCE Exams for your school?</strong> Sign your School up by clicking the button below, then click the Log in link above and use your school group username and password to gain access.
		  		</p>
		  	</div>
		  	<div class="subheadertabs form-group mg-right-10 mg-left-15 mg-bottom-20 mg-top-20">
				<a ng-click="registerschoolclick()">
					<span class="fa fa-building-o fa-1 btn btn-success"></span> Register as a School User
				</a>
			</div>
	    </div>
	</div>
	
	<mock-footer></mock-footer>

	<script>
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	</script>
</div>
